*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --button-background: rgb(234, 129, 234);
    --button-text: black;
    --nav-border-bottom: black;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: Helvetica, 'Times New Roman', serif;
}
button {
    all: unset;
    margin: 0.4rem;
    padding: 0.4rem;
    border-radius: 10%;
    color: var(--button-text);
    background: var(--button-background);
    height: fit-content;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0.4rem auto;
    height: 80px;
    align-items: center;
    border-bottom: 2px solid var(--nav-border-bottom);
}
nav img {
    margin: 0.4rem;
    padding: 0.4rem;
    border-radius: 50%;
    width: 5rem;
    height: auto;
}
nav ul {
    margin: 0.4rem;
    padding-left: 0.4rem;
    
    display: flex;
    list-style: none;
    gap: 1rem;
}
nav ul li {
    margin: 0.4rem;
    padding: 0.4rem;
    height: fit-content;
}